body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.navbar {
  margin-bottom: 0;
  background-color: #f5f5f5;
  text-align: center;
}

.navbar h1 {
  margin: 0;
  padding: 10px;
}

.menu-item {
  background-color: #f5f5f5;
  border: 6px solid #ddd;
  padding: 20px;
  margin: 20px auto;
  text-align: center;
  width: 90%;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.tall-section {
  margin: 20px;
}

.tall-section .menu-item {
  width: 100%;
}

@media (min-width: 768px) {
  .tall-section .menu-item {
    flex-basis: 100%;
    margin: 10;
    height: 1000px;
  }
}

h2 {
  text-align: center;
}

@media (min-width: 768px) {
  .row {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .menu-item {
    flex-basis: 30%;
    margin: 20px;
    height: 300px;
  }
}

@media (min-width: 1024px) {
  .menu-item {
    flex-basis: 25%;
    height: 350px;
  }
}

