body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.navbar {
  margin-bottom: 0;
}

.menu-item {
  background-color: #f5f5f5;
  border: 5px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  height: 80vh;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .menu-item {
    width: 250%;
    height: 80vh;
    display: inline-block;
    margin-right: 2%;
  }
  
  .menu-item:last-child {
    margin-right: 0;
  }
}
